.Nav {
  position: sticky;
  background-color: #ffffff;
  top: 0;
  display: flex;
  width: 100%;
  border-bottom: grey solid 2px;
  justify-content: space-between;
  z-index: 20px;
}

.logo {
  display: flex;
  margin-left: 10%;
  color: darkgreen;
  font: 2rem;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}

.logo img {
  width: 5%;
}

.Cam {
  width: 2.5%;
  margin-right: 10%;
  cursor: pointer;
}
